/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search-bar {
    float: left;
    width: 65%;
    height: 25px;
    margin-top: 5%;
    background: url("../src/assets/icons/search_FILL0_wght400_GRAD0_opsz48.svg") no-repeat;
    background-size: 25px;
    background-position: 5px;
    text-indent: 35px;
    border: none;
    border-bottom: 2px solid #000000;
}

.search-bar:focus {
    outline: none;
}

.loader {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}
