.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    background-color: #226CE4;
}

.card-title {
    text-align: center;
    color: white;
}

.card-text {
    text-align: center;
    color: white;
}


.chartTicketPorUser {
    height: 40vh; 
    width: 80vw;
    margin-top: 20px;
}

