.container {
    background-color: #f9f9f9;
}

.col-card {
    margin-top: 90px;
}

.dates-text {
    font-size: 13px;
    color: gray;
    margin-bottom: 15px;
}

.col-props {
    width: 25%;
    height: 50%;
}

.header-props {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.btn-update {
    display: inline;
    float: right;
}

.btn-add {
    display: inline;
    float: right;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.bx {
    margin-top: 5px;
}

.user-txt {
    margin-left: 5px;
    font-size: 14px;
    color: gray;
}

.edit-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}